<div class="generic-input">
  <input class="generic-input__input"
  [type]="type"
  #input
  (input)="onChange($event.target.value)"
  (blur)="onTouched()"
  [disabled]="disabled"
  [placeholder]="placeholder">
  <div class="generic-input__info">
    <span class="v" *ngIf="(isRequired && controlDir && controlDir.control.valid &&
    controlDir.control.touched)">
    </span>

    <label class="generic-input__lable">{{label}}
      <span class="generic-input__required" *ngIf="isRequired">*</span>
    </label>

    <span class="generic-input__error" *ngIf="controlDir && !controlDir.control.valid
     && controlDir.control.touched">{{errorMsg}}</span>
  </div>
</div>
