<nav class="navbar" id="navbar" #navbar>
  <div class="navbar__body">
    <div class="navbar__row">
      <div class="navbar__logo">Teach&Test</div>
      <ul class="navbar__container">
        <li
          class="navbar__element"
          *ngFor="let path of this.pathObjects"
        >
          <app-nav-link
            [to]="path.to"
            class="navbar__link"
            [ngClass]="{
              'navbar__link--selected': this.selected(
                path.to
              )
            }"
            >{{ path.content }}
          </app-nav-link>
        </li>
      </ul>
      <div
        *ngIf="
          this.user;
          then thenBlock;
          else elseBlock
        "
      ></div>
      <ng-template #thenBlock>
        <div class="navbar__profile">logined</div>
      </ng-template>
      <ng-template #elseBlock>
        <div class="navbar__notloged">
          <app-nav-link
            [to]="'/account/login'"
            class="navbar__link"
            [ngClass]="{
              'navbar__link--selected': this.selected(
                '/account/login'
              )
            }"
          >
            login
          </app-nav-link>
          <app-nav-link
            [to]="'/account/registration'"
            class="navbar__link"
            [ngClass]="{
              'navbar__link--selected': this.selected(
                '/account/registration'
              )
            }"
          >
            registration
          </app-nav-link>
        </div>
      </ng-template>
    </div>
  </div>
</nav>
