<div class="custom-input">
  <div class="custom-input__body">
    <div class="custom-input__content">
      <label
        [for]="name"
        class="custom-input__label"
        [ngClass]="{
          'custom-input__label--upper': i.value
        }"
      >
        {{ label }}
      </label>
      <input
        #i
        (input)="inputHandler($event)"
        (blur)="onTouched()"
        [disabled]="disabled"
        [name]="name"
        [type]="type"
        [autocomplete]="autocomplete"
        class="custom-input__input"
        [ngClass]="{
          'custom-input__input--invalid':
            (controlDir.control.touched ||
              activated) &&
            controlDir.control.invalid,
          'custom-input__input--valid':
            controlDir.control.valid
        }"
      />

      <a
         class="password-control"
        (click)="changeType($event)"
        [ngClass]="{
          'view': type == 'text'
        }"
      ></a>
    </div>
    <button>change visibility</button>
    <div
      *ngIf="
        (controlDir.control.touched || activated) &&
        controlDir.control.invalid
      "
      class="custom-input__error-msg"
    >
      <div *ngFor="let error of getErrors()">
        {{ error }}
      </div>

      {{ errorMessage }}
    </div>
  </div>
</div>
