<div class="password-input">
  <div class="password-input__body">
    <div class="password-input__content">
      <label
        [for]="name"
        class="password-input__label"
        [ngClass]="{
          'password-input__label--upper': i.value
        }"
      >
        {{ label }}
      </label>
      <input
        #i
        (input)="inputHandler($event)"
        (blur)="onTouched()"
        [disabled]="disabled"
        [name]="name"
        [type]="type"
        [autocomplete]="autocomplete"
        class="password-input__input"
        [ngClass]="{
          'password-input__input--invalid': isShowInvalidity(),
          'password-input__input--valid':
            controlDir.control.valid
        }"
      />

      <a
        class="password-control"
        (click)="changeType($event)"
        [ngClass]="{
          view: type == 'text'
        }"
      ></a>
    </div>
    <div
      *ngIf="isShowInvalidity()"
      class="password-input__error-msg"
    >
      <app-input-errors [Errors]="getErrors()">
      </app-input-errors>
    </div>
  </div>
</div>
