@import "colors.scss";

.teach {
  &__title {
    width: fit-content;
    margin: 0 auto;
  }
  &__about {
  }
  &__form {
    margin-top: 10px;
  }
}
.teach-form {
  display: flex;
  &__course-title {
    border: 0.5px solid rgba(black, 0.5);
    outline: none;
    font-size: 2rem;

    &:focus {
      border-color: $blue;
    }
  }
  &__submit {
    margin-left: 4px;
  }
}

.teach-about {
  display: flex;
  justify-content: space-evenly;
  &__image-wrapper {
    display: inline-block;
    width: fit-content;
  }
  &__main {
    margin-left: 20px;
  }
  &__title {
    margin-bottom: 0;
    border-bottom: 1px solid gray;
  }
}
