.tool {
  position: relative;
	&__btn {
    border: none;
    outline: none;
    cursor: pointer;
  }
	&__capture {
    display: none;
    position: absolute;
    bottom: -20px;
    padding: 3px;
    font-size: 1.2rem;
    border: 1px solid black;
  }

  &:hover {
    .tool__capture {
      display: block;
    }
  }
}
