.tool {
  position: relative;
  padding: 3px 4px 1px;
	&__btn {
    border: none;
    outline: none;
    cursor: pointer;
  }
	&__capture {
    padding: 3px;
    display: none;
    position: absolute;
    width: fit-content;
    top: -25px;
    left: 0;
    font-size: 1.2rem;
    border: 1px solid black;
    white-space: nowrap
  }

  &:hover {
    .tool__capture {
      display: block;
    }
    background-color: rgba(gray, .5);
  }
}
