.tool {
  position: relative;
  padding: 3px 4px 1px;
  &--disabled {
    background-color: transparent !important;
    .tool__btn {
      opacity: 0.2;
    }
  }
  &__btn {
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
  }
  &__capture {
    padding: 3px;
    display: none;
    position: absolute;
    width: fit-content;
    top: -25px;
    left: 0;
    font-size: 1.2rem;
    border: 1px solid black;
    background-color: #fff;
    white-space: nowrap;
  }

  &:hover {
    .tool__capture {
      display: block;
    }
    background-color: rgba(gray, 0.5);
  }
}
