.modal {
  position: absolute;
  //background-color: rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 204, 255, 0.2);
    box-shadow: inset 1px 0 5px 0
      rgba(48, 161, 192, 0.445);
    backdrop-filter: blur(2px);
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  &__body {
    padding: 20px;
    position: relative;

    border-radius: 5px;
    background-color: rgba(51, 53, 54, 0.575);
    box-shadow: 1px 0 5px 0
      rgba(48, 161, 192, 0.445);
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  &__close-btn {
    position: relative;
    width: 50px;
    height: 50px;
    padding: 0;
    background-color: rgba(252, 6, 55, 0.8);

    border: 0;
    border-radius: 50% !important;
    outline: none !important;
    cursor: pointer;
    transition: .5s;
    &:hover {
      box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    }
    div {
      position: absolute;
      top: -10px;
      left: 10px;
      color: white;
      font-size: 56px;
      transform: rotate(45deg);
    }
  }
}
