.modal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  &__body {
    position: relative;
    background-color: white;
    padding: 20px;
  }

  &__close {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  &__close-btn {
    position: relative;
    width: 50px;
    height: 50px;
    padding: 0;
    background-color: crimson;
    border: 0;
    border-radius: 50% !important;
    outline: none !important;
    box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;

    div {
      position: absolute;
      top: -10px;
      left: 10px;
      color: white;
      font-size: 56px;
      transform: rotate(45deg);
    }
  }
}
