<div class="login-page">
  <form
    class="login-form"
    (ngSubmit)="onSubmit(f.value)"
    #f="ngForm"
    [formGroup]="this.loginForm"
  >
    <ngx-spinner
      [fullScreen]="false"
      type="ball-clip-rotate-multiple"
      size="medium"
    >
      <!-- <p class="loading"></p> -->
    </ngx-spinner>
    <div class="login-form__body">
      <div class="login-form__title">Log in</div>
      <div class="login-form__input">
        <app-reactive-input
          [formControl]="email"
          [errorMessages]="{
            common: 'enter a email'
          }"
          label="email"
          [activated]="activated"
          type="email"
          required="true"
          pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
        ></app-reactive-input>
      </div>

      <div class="login-form__input">
        <app-password-input
          [formControl]="password"
          [activated]="activated"
          label="password"
          [type]="'text'"
          required
          pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$"
          [errorMessages]="{
            common: 'enter a password',
            pattern:
              'a password between 6 to 20 characters which contain at least one numeric digit, one uppercase and one lowercase letter'
          }"
        ></app-password-input>
      </div>

      <app-submit-button
        class="login-form__submit"
        (click)="submitButtonHandler($event)"
        [loading]="this.isLoading"
        >Log in</app-submit-button
      >
      <div class="login-form__footer">
        Do not have an account?
        <app-link [to]="'/account/registration'"
          >Register</app-link
        >
      </div>

      <app-google-auth-btn
        (startLogin)="this.isLoading = true"
        (endLogin)="this.isLoading = false"
        class="login-form__google-auth"
      ></app-google-auth-btn>
    </div>
  </form>
</div>
