<form
  class="form-signin"
  (ngSubmit)="onSubmit(f.value)"
  #f="ngForm"
>
  <app-reactive-input
    [formControl]="email"
    [errorMessages]="{
      common: 'enter a email'
    }"
    label="email"
    [activated]="activated"
    type="email"
    required="true"
    pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,4}$"
  ></app-reactive-input>

  <app-reactive-input
    [formControl]="password"
    [activated]="activated"
    label="password"
    [type]="'text'"
    required
    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,20}$"
    [errorMessages]="{
      common: 'enter a password',
      pattern:
        'a password between 6 to 20 characters which contain at least one numeric digit, one uppercase and one lowercase letter'
    }"
  ></app-reactive-input>

  <button
    class="btn btn-lg btn-primary btn-block"
    (click)="submitButtonHandler($event)"
    type="submit"
  >
    Sign in
  </button>
</form>

<button (click)="onClick()">test auth</button>

<button (click)="signInWithGoogle()">google sign in</button>
<button (click)="signOut()">sign out</button>
