<div class="rich-text-editor">
  <div class="rich-text-editor__toolbar">
    <div class="rich-text-editor__history-control">
      <div
        class="rich-text-editor__history-tool"
        *ngFor="let tool of this.controls.history"
      >
        <app-tool
          [capture]="tool.capture"
          [disabled]="tool.disabled"
          (click)="tool.click()"
        >
          <img
            class="tool__image"
            [src]="tool.imageSrc"
            alt=""
          />
        </app-tool>
      </div>
    </div>

    <div class="rich-text-editor__styles-control">
      <div
        class="rich-text-editor__styles-tool"
        *ngFor="let tool of this.controls.styles"
      >
        <app-tool-checkbox
          [disabled]="tool.disabled"
          [(isActive)]="tool.value"
        >
          <app-tool
            [capture]="tool.capture"
            [disabled]="tool.disabled"
          >
            <img
              class="tool__image"
              [src]="tool.imageSrc"
              alt=""
            />
          </app-tool>
        </app-tool-checkbox>
      </div>

      <app-drop-down-list
        class="rich-text-editor__styles-selector"
        [(ngModel)]="this.model"
        [options]="this.testValues"
      ></app-drop-down-list>
    </div>
  </div>
  <div class="rich-text-editor__content"></div>
</div>
