.tool__image {
  width: 16px;
  height: 16px;
}

.rich-text-editor {
  &__toolbar {
    padding: 7px 15px 7px 10px;
    display: flex;
    border: .1px solid gray;
    background-color: rgb(245, 245, 245);
  }
  &__history-control {
    display: flex;
  }
  &__history-tool {
    padding: 1px;
  }
  &__styles-control {
    display: flex;
  }
  &__styles-selector {
    width: 100px;
  }
  &__content {
  }
}
