.tool__image {
  width: 16px;
  height: 16px;
}

.rich-text-editor {
	&__toolbar {
    display: flex;
    background-color: rgb(245, 245, 245);
    padding: 3px;
   }
	&__history-control {
    display: flex;
   }
  &__history-tool{
    padding: 1px;
  }
	&__styles-control {
    display: flex;
  }
	&__content { }
}
