<div class="nav-tree">
  <div
    *ngIf="
      this.isNavTreeRow(this.navTreeRow.content);
      then thenBlock;
      else elseBlock
    "
  ></div>
  <ng-template #thenBlock>
    <div
      class="nav-tree__row"
      (click)="this.isOpened = !this.isOpened"
    >
      {{ this.navTreeRow.title }}
      <app-content-arrow
        [isOpen]="this.isOpened||this.isSelected"
      ></app-content-arrow>
      <hr>
      opened - {{this.isOpened}}
      <hr>
      selected - {{this.isSelected}}
    </div>

    <div [class.nav-tree__row--hidden]="!(isOpened||this.isSelected)">
      <div *ngFor="let row of this.navTreeRow.content">
        <app-nav-tree
          (select)="this.isSelected=$event"
          [navTreeRow]="row"
        ></app-nav-tree>
      </div>
    </div>
  </ng-template>
  <ng-template #elseBlock>
    <a
      class="nav-tree__row nav-tree__link"
      [class.nav-tree__row--selected]="this.isSelected"
      [routerLink]="this.navTreeRow.content"
    >
      {{ this.navTreeRow.title }}
    </a>
  </ng-template>
</div>
