@import "colors.scss";

.nav-tree {
  width: 100%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  &__row {
    padding: 4px;
    font-size: 2rem;
    width: 100%;
    cursor: pointer;
    &--selected {
      background-color: rgb(233, 249, 233);
    }
    &--hidden {
      width: 0;
      height: 0;
      overflow: hidden;
    }
    &:hover {
      background-color: rgba($light-blue, 0.4);
    }
  }
  &__link {
    color: black;
    text-decoration: none;
  }
}
