<div class="nav-tree">
  <div
    *ngIf="
      this.IsNavTreeRow(this.navTreeRow.content);
      then thenBlock;
      else elseBlock
    "
  ></div>
  <ng-template #thenBlock>
    <div
      class="nav-tree__row"
      (click)="this.isOpen = !this.isOpen"
    >
      {{ this.navTreeRow.title }}
      <app-content-arrow
        [isOpen]="this.isOpen"
      ></app-content-arrow>
    </div>

    <div *ngIf="this.isOpen">
      <div *ngFor="let row of this.navTreeRow.content">
        <app-nav-tree
          [navTreeRow]="row"
        ></app-nav-tree>
      </div>
    </div>
  </ng-template>
  <ng-template #elseBlock>
    <a
      class="nav-tree__row nav-tree__link"
      [routerLink]="this.navTreeRow.content"
    >
      {{ this.navTreeRow.title }}
    </a>
  </ng-template>
</div>
