@import "colors.scss";

.custom-input {
	&__body {
    padding: 4px;
  }
  &__content{
    position: relative;
    font-size: 3rem;
  }
	&__label {
    display: block;
    position: relative;
    letter-spacing: 1px;
    z-index: -1;
    bottom: -3.2rem;
    transition: linear .15s;
    &--upper{
      bottom: 0;
    }
  }

	&__input {
    font-size: inherit;
    opacity: 0.7;
    border: 0;
    border-bottom: 2px solid $dark-gray;
    border-radius: 2px;
    outline: none;
    &--invalid{
      border-bottom-color: $error--color;
    }
    &--valid{
      border-bottom-color: green;
    }
    &:focus {
      border-bottom-color: $blue;
    }
   }

   &__error-msg{
      font-size: 2rem;
      color: $error--color;
   }
}
