@import "colors.scss";

.custom-input {
	&__body {
    padding: 4px;
  }
  &__content{
    position: relative;
    font-size: 2rem;
  }
	&__label {
    display: block;
    position: relative;
    letter-spacing: 1px;
    z-index: -1;
    bottom: -2rem;
    transition: linear .15s;
    &--upper{
      bottom: 0;
    }
  }

	&__input {
    width: 100%;
    font-size: inherit;
    opacity: 0.7;
    border: 0;
    border-bottom: 2px solid rgba($dark-gray, 0.4);
    border-radius: 2px;
    outline: none;
    &--invalid{
      border-bottom-color: rgba($error--color, 0.4);
    }
    &--valid{
      border-bottom-color: rgba($green, 0.4);
    }
    &:focus {
      border-bottom-color: rgba($blue, 0.4);
    }
   }

   &__error-msg{
      font-size: 2rem;
      color: $error--color;
   }
}
