<div class="management">
  <aside class="management__aside management-aside">
    <div class="management-aside__body">
      <div class="management-aside__course-short-info">
        <div
          class="management-aside__course-logo"
          (click)="this.isModalOpened=true"
        >
          <app-avatar-image
            [imageId]="this.course.logoId"
          ></app-avatar-image>
        </div>
        <button (click)="this.course.logoId='c6ee72ca-2da6-4e27-b158-bcf75ffd830d'">click</button>
        <div class="management-aside__course-title">
          {{ this.course.title }}
        </div>
      </div>
      <div class="management-aside__nav-tree">
        <div *ngFor="let row of this.navRows">
          <app-nav-tree
            [navTreeRow]="row"
          ></app-nav-tree>
        </div>
      </div>
    </div>
  </aside>
  <main class="management__main">
    <router-outlet></router-outlet>
  </main>
</div>

<app-modal
  [show]="this.isModalOpened"
  (close)="this.isModalOpened = false"
  *PortalImplementer
>
  <app-image-uploader
    (onComplete)="this.handleImageComplete($event)"
  ></app-image-uploader>
</app-modal>
