<div class="management">
  <aside class="management__aside management-aside">
    <div class="management-aside__body">
      <div class="management-aside__course-short-info">
        <div class="management-aside__course-logo">
          <app-avatar-image
            [imageId]="this.course?.logoId"
          ></app-avatar-image>
        </div>
        <div class="managment-aside__course-title">

        </div>
      </div>
      <div class="management-aside__nav-tree">
        <div *ngFor="let row of this.navRows">
          <app-nav-tree
            [navTreeRow]="row"
          ></app-nav-tree>
        </div>
      </div>
    </div>
  </aside>
  <main class="management__main">
    <router-outlet></router-outlet>
  </main>
</div>
