:host {
  height: 1px;
  min-height: 100%;
  min-width: 100%;
  background-color: rgba(black, 0.01);
}
.management {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  &__aside {
    padding-top: 60px;
    display: flex;
    align-items: center;
    width: 30%;
    min-height: 100%;
    max-height: 100%;
    min-width: 200px;
    max-width: 300px;
  }
  &__main {
    padding-top: 60px;

    display: flex;
    align-items: center;
    width: 70%;
    min-width: 420px;
    max-width: 900px;
    background-color: #fff;
  }
}

.management-aside {
  &__body {
    box-sizing: border-box;
    padding: 20px;
    min-height: 100%;
    max-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
  }
  &__nav-tree{
    border-left: 1px solid black;
    width: 150px;
  }
  &__course-short-info{
    margin-bottom: 20px;
    padding: 10px;
    padding-left: 50px;
    align-self: stretch;
  }
  &__course-logo{
    width: fit-content;
    background-color: gray;
    opacity: .5;
  }
  &__course-image{
    height: 50px;
    width: 50px;
  }
}
