:host {
  height: 1px;
  min-height: 100%;
  min-width: 100%;
  background-color: rgba(black, 0.01);
}
.management {
  min-height: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
  &__aside {
    padding-top: 60px;

    display: flex;
    align-items: center;
    width: 30%;
    min-width: 200px;
    max-width: 300px;
  }
  &__main {
    padding-top: 60px;

    display: flex;
    align-items: center;
    width: 70%;
    min-width: 420px;
    max-width: 900px;
    background-color: #fff;
  }
}

.management-aside {
  &__body {
    padding: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }
}
