.registration-page {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-registration {
  position: relative;
	&__body {
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    //border: .5px solid black;
    border-radius: 2px;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.3);
    width: fit-content;
  }
  &__title {
    margin: 0 auto;
    width: fit-content;
    font-size: 3rem;
    font-family: Inter;
    font-weight: 600;
    letter-spacing: .1rem;
    text-transform: uppercase;
   }
  &__input {
    width: 400px;
  }
  &__submit{
    margin-top: 15px;
    padding: 5px;
    display: flex;
    justify-content: flex-end;
  }

  &__footer {
    margin: 30px 0;
    padding: 6px;
    font-size: 2rem;
  }
  &__google-auth{
    display: flex;
    justify-content: center;
  }
}
