<div class="custom-input">
  <div class="custom-input__body">
    <label
      [for]="name"
      class="custom-input__label"
      [ngClass]="{
        'custom-input__label--upper':
          inputControl.value
      }"
    >
      {{ label }}
    </label>


    <input
      [name]="name"
      class="custom-input__input"
      [ngClass]="{
        'custom-input__input--invalid':
          inputControl.invalid &&
          inputControl.value &&
          inputControl.touched,
        'custom-input__input--valid':
          inputControl.valid &&
          inputControl.value &&
          inputControl.touched
      }"
      type="text"
      [formControl]="inputControl"
    />

    <!-- !!todo -->
  </div>
</div>
