<div
  class="resizable"
  #container
  [style.width.px]="this.containerWidth"
  [style.height.px]="this.containerHeight"
>
  <div
    #area
    class="resizable__area resizable-area"
    [style.width.px]="this.areaWidth"
    [style.height.px]="this.areaHeight"
    [class.resizable--active]="this.status === 1"
    (window:mouseup)="setStatus($event, 0)"
  >
    <ng-content></ng-content>
    <div
      class="resizable-area__resize-action"
      (mousedown)="setStatus($event, 1)"
    ></div>
    <span
      class="resizable-area__width"
      *ngIf="this.shouldShowSize"
      >{{ this.areaHeight | number: "1.0-0" }}px</span
    >
    <span
      class="resizable-area__height"
      *ngIf="this.shouldShowSize"
      >{{ this.areaHeight | number: "1.0-0" }}px</span
    >
  </div>
</div>
