$error--color: red !default;
$blue: rgb(4, 16, 189) !default;
$green: rgb(0, 163, 0) !default;
$dark-gray: rgb(41, 38, 38) !default;
$light-blue: rgb(144, 226, 247) !default;
$light-gray: rgb(230, 230, 230) !default;
$light-light-green: rgb(233, 249, 233) !default;
