@import "colors.scss";

@mixin btn {
  background-color: $light-blue;
  color: black;
  border: 1px solid  $light-blue;
  border-radius: 3px;
  box-shadow: inset 0 0 6px 2px rgba($light-blue, 0.6);
  transition: linear 0.3s;
  cursor: pointer;
  cursor: hand;
  &:hover {
    background-color: white;
    color: black;
  }
}
