@import "mixins.scss";

.submit-control {
  width: fit-content;
  font-size: 1.5rem;
  font-weight: 500;
  font-family: Inter;
  position: relative;
  &__btn {
    @include btn;
    padding: 12px 22px;
    font-size: inherit;
    font-weight: inherit;
  }
  &--loading {
    color: transparent !important;
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner 0.8s linear infinite;
}
