.tool-checkbox {
	&__button {
      padding: 0;
      border: none;
      cursor: pointer;
      border: 1px solid transparent;
      background-color: transparent;
      outline: none;
      &--selected {
        background-color: #fff;
        border: 1px solid black;
      }
   }
}
