<div class="drop-down-list" *ngIf="!this.disabled">
  <div
    class="drop-down-list__preview drop-down-list-preview"
  >
    <div
      class="drop-down-list-preview__element"
      (click)="this.isOpen = !this.isOpen"
    >
      <p class="drop-down-list-preview__title">
        {{ this.value?.title }}
      </p>
    </div>
    <div class="drop-down-list-preview__arrow">
      <span
        class="combo-arrow"
        [ngClass]="{
          'combo-arrow--closed': !this.isOpen
        }"
      >
      </span>
    </div>
  </div>
  <div
    class="drop-down-list__content"
    #content
    [class.stash]="!this.isOpen"
    [ngStyle]="{
      width: this.width,
      minHeight: this.minHeight,
      maxHeight: this.maxHeight
    }"
  >
    <div
      #elem
      class="drop-down-list__element drop-down-list-element"
      *ngFor="let option of this.options"
      (click)="this.handleSelection($event, option)"
      [ngClass]="{
        'drop-down-list-element--selected': this.isSelect(
          elem,
          option == this.value
        )
      }"
    >
      <p class="drop-down-list-element__title">
        {{ option.title }}
      </p>
    </div>
  </div>
</div>
