<div class="img-uploader">
  <div class="img-uploader__preview">
    <img
      [src]="imageBlobUrl | safeHtmlUrl"
      class="img-uploader__preimg"
      alt="img"
    />
    <img
      [src]="'assets/plus.png'"
      class="img-uploader__preimg img-uploader__preimg--load"
      alt="img"
      (click)="handlePlusClick()"
    />
  </div>
  <form
    class="img-uploader__form"
    (submit)="this.sendTosServer()"
    encType="multipart/form-data"
    method="post"
  >
    <div class="stash">
      <input
        #plus
        class="img-uploader__input"
        type="file"
        name="file"
        accept=".jpg,.png"
        multiple="false"
        (change)="this.onFileSelected($event)"
        title=""
      />
    </div>
    <app-submit-button>Send</app-submit-button>
  </form>
</div>
