<div class="editor">
  <angular-editor
    [placeholder]="'Enter text here...'"
    [(ngModel)]="htmlContent"
    [config]="this.config"
    [style.fontSize]="'1.5rem'"
  ></angular-editor>
</div>
<!-- <input
  type="file"
  id="input"
  multiple
  (change)="onFileSelected($event)"
/>

<button (click)="this.sendTosServer()">
  send to server
</button>

<button (click)="this.loadFrom()">load</button>

<img #img [src]="this.image" />

<img [src]="imageBlobUrl | safeHtmlUrl" />

<button (click)="show()">show</button>

<app-modal
  [show]="isModalOpened"
  (close)="this.isModalOpened = false"
  *PortalImplementer
>
  <app-image-uploader></app-image-uploader>
</app-modal> -->
