<app-rich-text-editor> </app-rich-text-editor>



<app-resizable [width]="300" [height]="150" [isHeightLocked]="true" [isWidthLocked]="true" [shouldShowSize]="false">
  <div class="box-container">
    <h2>asdfasdfasd</h2>
  </div>
</app-resizable>
<!-- <input
  type="file"
  id="input"
  multiple
  (change)="onFileSelected($event)"
/>

<button (click)="this.sendTosServer()">
  send to server
</button>

<button (click)="this.loadFrom()">load</button>

<img #img [src]="this.image" />

<img [src]="imageBlobUrl | safeHtmlUrl" />

<button (click)="show()">show</button>

<app-modal
  [show]="isModalOpened"
  (close)="this.isModalOpened = false"
  *PortalImplementer
>
  <app-image-uploader></app-image-uploader>
</app-modal> -->
